*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img{
    max-width: 100%;
    
}

.main-header {
   background-color: #f60;
   padding: 10px 20px;
   position: sticky;
   top: 0;
   z-index: 99999;
}

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1300px;
    margin: 0 auto;
}

.nav-left, .nav-right{
    display: flex;
    list-style: none;
    gap: 20px;
}
.nav-left a, .nav-right{
    color: white;
    text-decoration: none;
    font-weight: bold;
    font-size: 14px;
}

.logo img{
    height: 25px;
}


.cuore{
    font-size: 2rem;
    background-color:white ;
    color: black;
    position: absolute;
    top: 10px;
    right: 1px;
    border: 0;
    padding-left: 10px;
    padding-right: 10px;
}

.nav-right i{
    font-size: 18px;
    color: white;
}

section{
    padding: 30px 0;
}

.container{
    width: 80%;
    margin: 0 auto;
    max-width: 1000px;
}

.row{
    display: flex;
    flex-wrap: wrap;
    margin-top: 10px;
}

.col-30{
    width: 30%;
    margin-top: 30px;
    position: relative;
}
   
.discount{
 position: absolute;
 bottom: 50px;
 font-size: 15px;
 color: white;
 background-color: red;
 padding: 2px;
}

.card{
  position: relative;
  margin-right: 10px;
}

.top-img{
    position: absolute;
    left:0;
    top:0;
    opacity: 0;
    transition: all 0.7s ease;
  }

.top-img:hover {
    opacity: 1;
    
  }

  .green{
    position: absolute;
    left: 40px;
    bottom: 50px;
    color: white;
    background-color: rgb(0, 128, 0);
    font-size: 10px;
    padding: 5px;
    
  }

  .green-left{
       position: absolute;
       bottom: 50px;
       color: white;
       background-color: rgb(0, 128, 0);
       font-size: 10px;
       padding: 5px;

   }

   .prezzo-scontato{
    text-decoration: line-through;
   }

   .price{
    color: red;
   }

   .grey{
    color: grey;
   }

   .main-footer{
    background-color: black;
    justify-content: space-evenly;
    display: flex;
     padding: 50px 50px;  
     margin: 0;
   }

   .white{
    color: white;
    
   }




 .booleando{
    font-size: 22px;
 }


 .mt-5{
    margin-top: 8px;
 }